body {
    margin: 0px;
    padding: 0px;
    background-image: url("https://www.freepik.com/premium-vector/gradient-geometric-shape-background_4955084.htm#page=1&query=web%20background&position=1");
    background-color: #cccccc;
    font-family: 'Dancing Script', cursive;
    font-size: 3vh;
}

li {
    list-style-type: none;
}

header {
    position: relative;
    top: 0px;
    height: 5vh;
}

footer {
    text-align: center;
    height: 5vh;
}

main {
    margin: 20px;
    height: 90vh;
}

img {
    max-width: 100%;
}

.top-header {
    display: flex;
}

.main-navigation {
    font-size: 5vh;
    text-decoration: none;
}

.stripped-link {
    text-decoration: none;
    color: inherit;
}

.social-networks {

}

.social-image-thumbnail{
    width: 20px;
    height: 20px;
}

.flex-align-right {
    margin-left: auto;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

.content > * {
}

.side-navigation-container {

}

.content__side-navigation-container {
    flex: 0 1 20vw;
    border: 2xp double green;
    outline: solid;
    margin-right: 10px;
}

.side-navigation-container--collapsed {
    flex: 0 1 5vw;
}

.side-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__side_navigation {

}

.centerRelativeVertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hidden {
    display: none;
}

.side-navigation-container__menu-hider {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

.content-container {
}

.content__content-container {
    flex: 1 1 60vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.side-paragraph {

}

.content__side-paragraph {
    flex: 0 1 20vw;
    margin-left: 10px;
}

.side-paragraph--shrink {
    flex: 0 1 5vw;
}

.side-paragraph--non-visible {
    display: none;
}