.content {
    display: grid;
    grid-template-columns: repeat(4, [column-start] fit-content(400px) [column-end]);
    grid-template-rows: [row-start] minmax(100px, 200px) [row-end];
    grid-template-areas:
        "header header header header"
        "aside . article article";
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-items: stretch;
    align-items: stretch;
}
/*[first] 1fr [second] 2fr [third]*/

.content > img {
    border: 2px solid black;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 10px 10px;
    background-color: aquamarine;
    outline: 2px inset red;
}

img {
    max-width: 100%;
}

.content > header {
    grid-area: header;
}

.content > aside {
    grid-area: aside;
}

.content > article {
    grid-area: article;
}

.content > div {
    grid-column: 2 / span 3;
    grid-row: aside
}